CREATE TYPE user_role AS ENUM ('user', 'admin', 'shelter_admin'); DO @radix-ui/react-dropdown-menu BEGIN BEGIN ALTER TABLE profiles ADD COLUMN role user_role DEFAULT 'user'; EXCEPTION WHEN duplicate_column THEN ALTER TABLE profiles ALTER COLUMN role TYPE user_role USING role::text::user_role; END; END @radix-ui/react-dropdown-menu;
